<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle Cross Origin Resource Sharing
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"

    # Send everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
